---
name: Renovate

on: # yamllint disable-line rule:truthy
  schedule:
    # Run daily at a random time (3:47 AM UTC)
    - cron: '47 3 * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: false
        default: 'debug'
        type: choice
        options:
          - info
          - debug
          - trace

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Self-hosted Renovate
        uses: >-
          renovatebot/github-action@b9486682a19fe4ea2dd1263c11b4e0c1fe1838fe  # v40.3.2
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
