---
name: Reusable - Renovate Dependency Update

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      logLevel:
        description: 'Log level : debug, info, trace'
        required: false
        default: 'info'
        type: string

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  renovate:
    name: Renovate Dependency Update
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@c5fdc9f98fdf9e9bb16b5760f7e560256eb79326 # v44.0.2
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
